<div class="header bg-gradient-secondary py-4">
  <div class="container">
    <img src="assets/img/brand/easy-pay-logo.png" style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;"/>
  </div>
</div>
<!-- Page content -->
<div class="container mt--10 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <form role="form" [formGroup]="userLogin" (ngSubmit)="login()">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Correo" type="email" formControlName="email">
              </div>
              <div *ngIf="email.invalid && (email.dirty || email.touched)"
                   class="alert">
                <div *ngIf="email.errors?.['required']">
                  El correo es requerido
                </div>
                <div *ngIf="email.errors?.['email']">
                  Debe ser un correo válido
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Contraseña" type="password" formControlName="password">
              </div>
              <div *ngIf="password.invalid && (password.dirty || password.touched)"
                   class="alert">
                <div *ngIf="password.errors?.['required']">
                  La contraseña es requerido
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4" [disabled]="!this.userLogin.valid">Ingresar</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <!--
       <div class="col-6">
        <a href="javascript:void(0)" class="text-light"><small>Forgot password?</small></a>
       </div>
       <div class="col-6 text-right">
         <a href="javascript:void(0)" class="text-light"><small>Crear nueva cuenta</small></a>
       </div>
       -->
      </div>
    </div>
  </div>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)"></ngx-spinner>
</div>
