<div class="header bg-translucent-success py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center">
      <ul class="nav nav-pills nav-fill flex-column flex-sm-row" id="tabs-text" role="tablist">
        <li class="nav-item">
          <button type="button" (click)="openModalCreatedBill(modalFormCreated)" class="btn btn-block btn-success"
                  data-toggle="modal"
                  data-target="#modal-form">Crear Factura
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Facturas</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Referencia</th>
              <th scope="col">Total</th>
              <th scope="col">Estatus</th>
              <th scope="col">Fecha creacion</th>
              <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bill of this.bills">
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">{{bill.reference}}</span>
                  </div>
                </div>
              </th>
              <td>
                {{bill.total}}
              </td>
              <td>
                {{bill.status}}
              </td>
              <td>
                {{bill.createdAt | date }}
                {{bill.createdAt | date :'shortTime'}}
              </td>
              <td>
                <button type="button" class="btn btn-outline-primary"
                        (click)="openModalDetailBill(modalDetailBill,bill?._id)">Detalle
                </button>

                <button *ngIf="bill?.status === 'Pending'" type="button" class="btn btn-outline-info"
                        (click)="openModalEditBill(bill,modalUpdateBill)">
                  Editar
                </button>
                <button *ngIf="bill?.status === 'Pending'" type="button" class="btn btn-outline-success"
                        (click)="openModalSendEmail(modalSendEmail,bill?._id)">Enviar Correo
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Dark table -->
</div>

<ng-template #modalFormCreated let-modal>
  <div class="card bg-secondary border-0 mb-0">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Crear factura</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
              (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body px-lg-5 py-lg-5">
      <form role="form" [formGroup]="bill" (ngSubmit)="addBill()">
        <div class="form-group mb-3">
          <div class="input-group input-group-merge input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-email-83"></i></span>
            </div>
            <input class="form-control" placeholder="Reference" type="text" formControlName="reference">
          </div>
          <div *ngIf="reference.invalid && (reference.dirty || reference.touched)"
               class="alert alert-danger">
            <div *ngIf="reference.errors?.['required']">
              La refencia es requerida
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-merge input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-single-copy-04"></i></span>
            </div>
            <input class="form-control" placeholder="Descripcion" type="text" formControlName="description">
          </div>
          <div *ngIf="description.invalid && (description.dirty || description.touched)"
               class="alert alert-danger">
            <div *ngIf="description.errors?.['required']">
              La descripción es requerida
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-merge input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-money-coins"></i></span>
            </div>
            <input class="form-control" placeholder="total" type="number" formControlName="total">
          </div>
          <div *ngIf="total.invalid && (total.dirty || total.touched)"
               class="alert alert-danger">
            <div *ngIf="total.errors?.['required']">
              El total es requerida
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-merge input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-badge"></i></span>
            </div>
            <input class="form-control" placeholder="documento" type="text" formControlName="document">
          </div>
          <div *ngIf="document.invalid && (document.dirty || document.touched)"
               class="alert alert-danger">
            <div *ngIf="document.errors?.['required']">
              El documento es requerido
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-merge input-group-alternative">
            <input class="form-control" placeholder="Estado: Pendiente" type="text" formControlName="status"
                   value="Pending" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="inputState">Comercio</label>
          <select id="inputState" class="form-control" formControlName="commerce" required>
            <option selected>Seleccione un comercio</option>
            <option *ngFor="let commerce of this.commerces" value="{{commerce._id}}">{{commerce.name}}</option>
          </select>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary my-4">Crear factura</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #modalDetailBill let-modal>
  <div class="card bg-secondary border-0 mb-0">
    <div class="modal-header">
      <h5 class="modal-title" id="example2ModalLabel">Detalle de factura</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
              (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body px-lg-5 py-lg-5">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Referencia : {{this.billInfo?.reference}}</li>
        <li class="list-group-item">Descripcion : {{this.billInfo?.description}}</li>
        <li class="list-group-item">Total : {{this.billInfo?.total}}</li>
        <li class="list-group-item">Creado : {{billInfo.createdAt | date }}
          {{billInfo.createdAt | date :'shortTime'}}</li>
        <li class="list-group-item">Actualizado : {{billInfo.updatedAt | date }}
          {{billInfo.updatedAt | date :'shortTime'}}</li>
        <li class="list-group-item">Estado : {{this.billInfo?.status }}</li>
        <li class="list-group-item">Documento : {{this.billInfo?.document }}</li>
        <li class="list-group-item">Comercios : {{this.billInfo.commerce.name}}
        </li>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #modalSendEmail let-modal>
  <div class="card bg-secondary border-0 mb-0">
    <div class="modal-header">
      <h5 class="modal-title" id="modalSendEmail">Correo</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
              (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body px-lg-5 py-lg-5">
      <form role="form" [formGroup]="formSendEmail" (ngSubmit)="sendEmailForBill()">
        <div class="form-group">
          <div class="input-group input-group-merge input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-email-83"></i></span>
            </div>
            <input class="form-control" placeholder="Correo" type="email" formControlName="email">
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary my-4">Enviar correo</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #modalUpdateBill let-modal>
  <div class="card bg-secondary border-0 mb-0">
    <div class="modal-header">
      <h5 class="modal-title" id="modalUpdateBill">Actualizar</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
              (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body px-lg-5 py-lg-5">
      <form role="form" (ngSubmit)="submitEditBill($event)">
        <div class="form-group">
          <label for="reference">Referencia</label>
          <input
            type="text"
            class="form-control"
            id="reference"
            [(ngModel)]="billEditForm.reference"
            name="reference"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="billEditForm.description"
            name="description"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="total">Total</label>
          <input
            type="number"
            class="form-control"
            id="total"
            [(ngModel)]="billEditForm.total"
            name="total"
          />
        </div>
        <div class="form-group">
          <label for="document">Documento</label>
          <input
            type="number"
            class="form-control"
            id="document"
            [(ngModel)]="billEditForm.document"
            name="document"
          />
        </div>
        <div class="form-group">
          <label for="commerce">Comercio</label>
          <select id="commerce" class="form-control" name="commerce" required [(ngModel)]="billEditForm.commerce">
            <option *ngFor="let commerce of this.commerces" value="{{commerce._id}}">{{commerce.name}}</option>
          </select>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary my-4">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
