<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <form role="form" (ngSubmit)="submitResetPassword($event)" enctype="multipart/form-data">
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="password"
                [(ngModel)]="resetPasswordForm.password"
                name="password"
              />
            </div>
            <div class="form-group">
              <label for="repeat-password">Repetir Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="repeat-password"
                [(ngModel)]="resetPasswordForm.repeatPassword"
                name="repeat-password"
              />
            </div>
            <small id="passwordHelpBlock" class="form-text text-muted" *ngIf="displayError">
              Las contraseñas deben ser iguales
            </small>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4">Restablecer la contraseña</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
