<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
  <div class="header-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-4 col-lg-2">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label text-white" for="customRadioInline1" (click)="filterData(3)">Ultimos 3
              meses</label>
          </div>
        </div>
        <div class="col-xl-4 col-lg-2">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label text-white" for="customRadioInline2" (click)="filterData(6)">Ultimos 6
              meses</label>
          </div>
        </div>
        <div class="col-xl-4 col-lg-2">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label text-white" for="customRadioInline3" (click)="filterData(12)">Ultimos 12
              meses</label>
          </div>
        </div>
      </div>
      <!-- Card stats -->
      <h2 class="display-2 text-white">General</h2>
      <div class="row">
        <div class="col-xl-4 col-lg-12">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Facturas</h5>
                  <span class="h2 font-weight-bold mb-0">{{this.countBills}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gray text-white rounded-circle shadow">
                    <i class="fa fa-address-card" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-12">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Pagos</h5>
                  <span class="h2 font-weight-bold mb-0">{{this.countPayments}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gray text-white rounded-circle shadow">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-12">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Comercios</h5>
                  <span class="h2 font-weight-bold mb-0">{{this.countCommerces}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gray text-white rounded-circle shadow">
                    <i class="fas fa-briefcase"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2 class="display-2 text-white">Pagos</h2>
      <div class="row">
        <div class="col-xl-4 col-lg-12">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Aprobados</h5>
                  <span class="h2 font-weight-bold mb-0">{{this.approvedPayments}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-12">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Rechazados</h5>
                  <span class="h2 font-weight-bold mb-0">{{this.rejectedPayments}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-red text-white rounded-circle shadow">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-12">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Pendientes</h5>
                  <span class="h2 font-weight-bold mb-0">{{this.pendingPayments}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-credit-card"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)"></ngx-spinner>
</div>

